#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.container {
  position: relative;
  min-width: 376px;
  width: 376px;
  height: 666px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 376px;
  background-color: #f2f2f2;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 100;
}

#mobile-nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

#mobile-nav img {
  height: 2.5rem;
  width: 2.5rem;
}

.btn {
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 100%;
  padding: 10px;
}

.btn:active {
  background-color: #ddd;
  transform: translateY(2px);
}
